@charset 'utf-8'
@import './reset'
@import './form'
@import './table'
// 自定义 iconfont 图标
@import '//at.alicdn.com/t/font_3297041_hbjgzzt9zo.css'

// ====================================================================== helper
// 隐藏元素
[v-cloak]
.hidden
  display none !important

// 元素不可见
.vhidden
  visibility hidden !important

// 溢出隐藏
.ohidden
  overflow hidden !important

.clearfix
  clearfix()

.highlight
  color $main-color !important

.box-shadow
  box-shadow $box-shadow

.design-width
  box-sizing border-box
  margin 0 auto
  width $design-width

// 通过属性设置 iconfont
[data-icon]:before
  iconfont attr(data-icon)

.g-scrollbar // 全局滚动条
  scrollbar()