// 页面通用表格样式
.g-table-box // 表格外层
  position relative
  .pager
    margin-top 20px

.g-table // 表格
  border-radius 8px 8px 0 0
  overflow hidden
  .ivu-table-overflowX
  .ivu-table-tip
    scrollbar()
  .ivu-table-wrapper
    border none
  .ivu-table td
    border none
    color #5B5C5D
  .ivu-table:before
    content ''
    height 0
    border none
  .ivu-table:after
    content ''
    width 0
    border none
  .ivu-table-header
    margin-left -1px
    margin-right -1px
    border-radius 8px
    th
      font-weight normal
      color $black
      background-color #F1F3F5
      border none
  .ivu-table-fixed-header
    th
      font-weight normal
      color $black
      background-color #F1F3F5
      border none
    td
      border none
  .ivu-table-fixed::before,
  .ivu-table-fixed-right::before
    content ''
    width 0
    border none
  .ivu-table-fixed::before,
  .ivu-table-fixed-right::before
    content ''
    width 0
    border none

.ivu-table-filter-list .ivu-table-filter-select-item-selected, // 将表头筛选的选中样式去掉
.ivu-table-filter-list .ivu-table-filter-select-item-selected:hover
  color #495060